{% load i18n static %}
<div class="row row-cols-auto align-items-center">
    <div class="col mb-5 w-100 text-center">
        <a href="https://museum.izbirkom.org.ua" target="_blank" rel="nofollow">
            <img class="img-fluid" src="{% static 'img/baners/museum.jpg' %}">
        </a>
    </div>
    <div class="col mb-5 w-100 text-center">
        <a href="http://probudget.org.ua" target="_blank" rel="nofollow">
            <img class="img-fluid" src="{% static 'img/baners/probudget.png' %}">
        </a>
    </div>
    <div class="col mb-5 w-100 text-center">
        <a href="https://intent.press" target="_blank" rel="nofollow">
            <img class="img-fluid" src="{% static 'img/baners/intent.jpg' %}" alt="">
        </a>
    </div>
    <div class="col mb-5 w-100 text-center">
        <a href="https://attestation.in.ua/" target="_blank" rel="nofollow">
            <img class="img-fluid" src="{% static 'img/baners/attestation.jpg' %}" alt="">
        </a>
    </div>
    <div class="col mb-5 w-100 text-center">
        <a href="" target="_blank" rel="nofollow">
            <img class="img-fluid" src="{% static 'img/baners/gazeta.jpg' %}" alt="">
        </a>
    </div>
</div>