{% load i18n %}
<a href="https://www.facebook.com/CVUOdessa" class="text-secondary" title="facebook" rel="nofollow"
   target="_blank">
    <i class="fa-brands fa-square-facebook fa-xl"></i>
</a>
<a href="https://twitter.com/CVU_Odessa" class="text-secondary" title="twitter" rel="nofollow"
   target="_blank">
    <i class="fa-brands fa-twitter fa-xl"></i>
</a>
<a href="https://www.youtube.com/channel/UCpVWRvTu28ZLFXGCqCjZi1Q" class="text-secondary"
   title="youtube" rel="nofollow" target="_blank">
    <i class="fa-brands fa-youtube fa-xl"></i>
</a>
<a href="/rss/" title="rss" class="text-secondary" rel="nofollow" target="_blank">
    <i class="fa-solid fa-square-rss fa-xl"></i>
</a>
<a class="btn btn-warning bg-warning text-primary ms-2">{% trans 'Підтримати' %}</a>