{% extends 'base.html' %}
{% load static thumbnail i18n %}

{% block content %}
    <div class="section">
        <a href="" class="fs-1 text-primary">{% trans 'Наші новини' %}</a>
    </div>
    <div class="row row-eq-height">
        <div class="col-lg-8 col-md-12 col-xs-12">
            <a href="" class="headline">
                <div class="img-bg">
                    <img src="{% static 'img/articles/1.jpg' %}" class="img-fluid w-100"></div>
                <div class="link-text">
                    <p class="title">Як впроваджується «Community Policing» на Одещині в умовах війни: дослідження</p>
                    <p class="date">30 березня, 10:47</p>
                </div>

            </a>
        </div>
        <div class="col-lg-4 col-md-12 col-xs-12">
            <div class="row h-100">
                <div class="d-flex align-items-start col-lg-12 col-md-6 col-xs-12 xs-margin">
                    <a href="" class="headline">
                        <div class="img-bg"><img src="{% static 'img/articles/2.jpg' %}"
                                                 class="img-fluid w-100"></div>
                        <div class="link-text">
                            <p class="title">Як впроваджується «Community Policing» на Одещині в умовах війни:
                                дослідження</p>
                            <p class="date">30 березня, 10:47</p>
                        </div>
                    </a>
                </div>
                <div class="d-flex align-items-end col-lg-12 col-md-6 col-xs-12 xs-margin">
                    <a href="" class="headline">
                        <div class="img-bg"><img src="{% static 'img/articles/3.jpg' %}"
                                                 class="img-fluid w-100"></div>
                        <div class="link-text">
                            <p class="title">Як впроваджується «Community Policing» на Одещині в умовах війни:
                                дослідження</p>
                            <p class="date">30 березня, 10:47</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <a href="" class="fs-1 text-primary">{% trans 'Напрямки' %}</a>
    </div>
	<div class="text-center my-3">
    <div class="row mx-auto my-auto justify-content-center">
        <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="{% static 'img/articles/1.jpg' %}" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 1</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="{% static 'img/articles/2.jpg' %}" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 2</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="{% static 'img/articles/3.jpg' %}" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 3</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="{% static 'img/articles/1.jpg' %}" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 4</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="{% static 'img/articles/2.jpg' %}" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 5</div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
